Semana3/LabSemana3/Connected Services/ServiceReference1/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetTokenAcceso">
        <s:complexType />
      </s:element>
      <s:element name="GetTokenAccesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenAccesoResult" type="tns:TokenAcceso" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TokenAcceso">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rol" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Token" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="CabeceraSoapAcceso" type="tns:CabeceraSoapAcceso" />
      <s:complexType name="CabeceraSoapAcceso">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTokenAccesoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTokenAcceso" />
  </wsdl:message>
  <wsdl:message name="GetTokenAccesoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenAccesoCabeceraSoapAcceso">
    <wsdl:part name="CabeceraSoapAcceso" element="tns:CabeceraSoapAcceso" />
  </wsdl:message>
  <wsdl:portType name="ClienteWSSoap">
    <wsdl:operation name="GetTokenAcceso">
      <wsdl:input message="tns:GetTokenAccesoSoapIn" />
      <wsdl:output message="tns:GetTokenAccesoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClienteWSSoap" type="tns:ClienteWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokenAcceso">
      <soap:operation soapAction="http://tempuri.org/GetTokenAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTokenAccesoCabeceraSoapAcceso" part="CabeceraSoapAcceso" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClienteWSSoap12" type="tns:ClienteWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokenAcceso">
      <soap12:operation soapAction="http://tempuri.org/GetTokenAcceso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTokenAccesoCabeceraSoapAcceso" part="CabeceraSoapAcceso" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteWS">
    <wsdl:port name="ClienteWSSoap" binding="tns:ClienteWSSoap">
      <soap:address location="http://localhost:55190/ClienteWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ClienteWSSoap12" binding="tns:ClienteWSSoap12">
      <soap12:address location="http://localhost:55190/ClienteWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>